@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f0f;
  color: white;
  overflow-x: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.zen-blur-transition {
  transition:
    filter 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}
